---
language: ruby

rvm:
- ruby-head
- 2.3.1
- 2.2.5
- 2.1.10
- 2.0.0
- 1.9.3
- jruby
- rbx-2

before_install:
- gem install bundler

script:
- rake clobber compile spec

matrix:
  allow_failures:
  - rvm: 1.9.3
  - rvm: jruby
  - rvm: rbx-2

addons:
  apt:
    packages:
    - libjpeg-dev
    - libpng-dev
    - libwebp-dev
